.trust-us {
  text-align: center;
  color: var(--white1);
  padding-top: 150px;
  background-color: var(--black-1);

  @media (max-width: 960px) {
    padding: 0;
  }
}

.trust-us__title {
  font-family: "TTTravels", Arial, sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 1.23;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 105px;
  color: var(--white1);

  @media (max-width: 960px) {
    margin-bottom: 45px;
  }

  @media (max-width: 640px) {
    font-size: 30px;
    margin-bottom: 0px;
  }
}

.trust-us__items {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Растягиваем элементы по высоте */
  padding-bottom: 30px;

  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
  }
}

.trust-us__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  max-width: 360px;

  &:not(:last-child) {
    border-right: 1px solid #323232;

    @media (max-width: 960px) {
      border-right: none;
      border-bottom: 1px solid #323232;
    }
  }

  @media (max-width: 960px) {
    max-width: 100%;
    padding: 45px 0 45px 0;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.trust-us__icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 30px;
}

.trust-us__icon img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.trust-us__subtitle {
  font-family: "TTTravels", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
  padding-bottom: 20px;
  color: var(--white-1);

  @media (max-width: 1200px) {
    font-size: 22px;
  }

  @media (max-width: 640px) {
    font-size: 20px;
  }

  span {
    color: var(--green-1);
  }
}

.trust-us__description {
  font-family: "TTTravels", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-1);

  @media (max-width: 1200px) {
    font-size: 16px;
  }

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.trust-us__footer {
  margin: 0 20px;
  font-family: "TTTravels", Arial, sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.45;
  padding: 50px 0 0 0;
  color: var(--white-1);
  padding-bottom: 90px;

  @media (max-width: 1200px) {
    font-size: 22px;
  }

  strong {
    color: var(--green-1);
    font-weight: 600;
  }

  @media (max-width: 960px) {
    font-size: 20px;
  }
}

// Mobile Block

.trust-us__mobile {
  display: none;
  padding: 0 20px;
  margin-bottom: 150px;
  background-color: var(--green-1);

  @media (max-width: 640px) {
    margin-bottom: 90px;
  }

  left: 50%;
  transform: translateX(-50%);
  margin-left: 50%;
  width: 100vw;

  @media (max-width: 960px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.trust-us__mobile-container {
  display: flex;
  flex-direction: column;
  padding: 45px 0 60px 0;
  max-width: 600px;
  text-align: left;
}

.trust-us__mobile-title {
  font-family: "TTTravels", Arial, sans-serif;
  font-weight: 600;
  color: var(--black-1);
  line-height: 1.17;
  font-size: 30px;
  margin-bottom: 18px;

  @media (max-width: 640px) {
    font-size: 26px;
  }
}

.trust-us__mobile-subtitle {
  line-height: 1.55;
  font-size: 16px;
  box-sizing: content-box;
  font-weight: 700;
  font-family: TTTravels;
  color: var(--black-1);

  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

.trust-us__mobile-text {
  font-family: "Manrope", Arial, sans-serif;
  line-height: 1.55;
  font-size: 16px;
  font-weight: 500;
  color: var(--black-1);

  @media (max-width: 640px) {
    font-size: 14px;
  }
}
