.choose-lvl {
  width: 100%;
  padding: 60px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-lvl__title {
  font-family: "TTTravels", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.23;
  text-align: center;
  margin-bottom: 90px;
  color: #f7f7f7;
  font-size: 32px;
  margin-bottom: 90px;

  @media (max-width: 1200px) {
    margin-bottom: 30px;
  }
}

.choose-lvl__cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1200px) {
    align-items: center;
    flex-direction: column;
    gap: 36px;
  }
}
