.main-section {
  margin-top: 69px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 661px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__content {
    max-width: 760px;
    width: 100%;
    margin: 0 20px;
    height: 100%;
  }

  &__title {
    font-family: "TTTravels";
    font-size: 50px;
    font-weight: 700;
    color: var(--green-1);
    line-height: 1.4;

    p {
      font-family: "TTTravels";
      color: var(--white-1);
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 1.7;
  }

  &__subtitle-expert {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.7;
  }

  &__list {
    list-style: disc !important;
    padding-left: 20px !important;
    font-size: 20px !important;
    margin-bottom: 10px;
    line-height: 1.7;

    &__item {
      margin-bottom: 10px;
      font-weight: 500;

      strong {
        font-weight: 700;
      }
    }
  }

  //  Form
  &__form-block {
    height: 100%;
  }

  &__form {
    max-width: 360px;
    margin: 0 20px;
    background-color: var(--green-2);
    padding: 34px;
    border-radius: 12px;

    &-title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-input {
      font-family: "TTTravels";
      font-weight: 700;
      height: 50px;
      padding: 0 18px;
      border: none;
      outline: none;
      border-radius: 8px;
      background-color: var(--green-3);
      color: var(--white-1);
      opacity: 1;
      font-size: 18px;
      line-height: 1;
      opacity: 0.8;
    }

    &-checkbox {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-family: "Manrope", Arial, sans-serif;
      font-weight: 300;
      line-height: 1;

      input {
        margin-right: 16px;
      }
    }
  }

  // Effective
  &__effective {
    max-width: 1160px;
    width: 100%;
    margin: 0 20px;
  }

  &__effective-title {
    font-family: "TTTravels", Arial, sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.17;
    padding-top: 4px;
    padding-bottom: 14px;
    color: var(--green-1);
  }

  &__effective-subtitle {
    line-height: 1.55;
    margin-top: -6px;
    padding-bottom: 3px;
    font-size: 18px;
    color: var(--white-1);
    font-weight: 500;
  }

  &__effective-buttons {
    display: flex;
    gap: 20px;
    padding-top: 60px;
  }
}
