.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  @media (max-width: 1200px) {
    max-width: 960px;
  }

  @media (max-width: 960px) {
    max-width: 600px;
  }

  @media (max-width: 640px) {
    max-width: calc(100% - 40px);
  }

  @media (max-width: 480px) {
    max-width: calc(100% - 26px);
  }
}
