.program {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding-bottom: 90px;

  @media (max-width: 1200px) {
    margin: 0 10px;
  }

  &__title {
    font-family: "TTTravels", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.23;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px;
    color: var(--white-1);
    font-size: 32px;
  }
}
