.course-details {
  width: 100%;

  //  Effective

  &__effective {
    max-width: 1160px;
    width: 100%;
    margin: 0 20px;

    @media (max-width: 1200px) {
      max-width: 940px;
      margin: 0 10px;
    }

    @media (max-width: 640px) {
      margin: 0;
    }
  }

  &__effective-title {
    font-family: "TTTravels", Arial, sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.17;
    padding-top: 4px;
    padding-bottom: 14px;
    color: var(--green-1);

    @media (max-width: 1200px) {
      font-size: 26px;
    }

    @media (max-width: 640px) {
      font-size: 24px;
    }
  }

  &__effective-subtitle {
    line-height: 1.55;
    margin-top: -6px;
    padding-bottom: 3px;
    font-size: 18px;
    color: var(--white-1);
    font-weight: 500;

    @media (max-width: 640px) {
      font-size: 15px;
    }
  }

  &__effective-buttons {
    display: flex;
    gap: 20px;
    padding-top: 60px;

    @media (max-width: 1200px) {
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 380px) {
      width: 100%;
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }

  // Info

  &__info {
    display: flex;
    padding: 60px 0;

    @media (max-width: 960px) {
      flex-direction: column;
      gap: 40px;
    }

    @media (max-width: 640px) {
      gap: 20px;
    }
  }

  &__item {
    max-width: 560px;
    width: 100%;
    text-align: center;
    margin: 0 20px;

    @media (max-width: 640px) {
      margin: 0;
    }
  }

  &__title {
    color: var(--white-1);
    font-family: "TTTravels", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.23;
    padding-top: 8px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 24px;

    @media (max-width: 640px) {
      font-size: 20px;
    }
  }

  .divider-custom {
    margin-top: 14px !important;
    margin-bottom: 14px;
    border: 0;
    height: 1px;
    background-color: var(--divider-1);
    opacity: 1;
  }

  &__text {
    color: var(--white-1);
    margin-top: 10px;

    line-height: 1.55;
    padding-top: 4px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

    @media (max-width: 640px) {
      font-size: 15px;
    }
  }

  // Content

  &__content {
    display: flex;
    padding: 60px 0;

    @media (max-width: 960px) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__video {
    width: 100%;
    margin: 0 20px;
    max-width: 460px;

    @media (max-width: 1200px) {
      margin: 0 10px;
      max-width: 100%;
    }

    @media (max-width: 640px) {
      margin: 0;
    }

    video {
      max-width: 500px;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;

      @media (max-width: 1200px) {
        max-width: 100%;
      }
    }
  }

  &__description {
    width: 100%;
    max-width: 660px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--white-1);

    @media (max-width: 1200px) {
      margin: 0 10px;
    }

    @media (max-width: 640px) {
      margin: 0;
    }
  }

  &__heading {
    font-family: "TTTravels", Arial, sans-serif;
    font-weight: 600;
    color: var(--white-1);
    font-size: 32px;
    line-height: 1.5;

    @media (max-width: 480px) {
      font-size: 22px;
      line-height: 1.3;
    }
  }

  &__paragraph {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.7;
    color: var(--white-1);
    font-weight: 500;

    @media (max-width: 480px) {
      font-size: 15px;
    }
  }
}
