@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-Regular.woff") format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-Italic.woff") format("woff");
  font-weight: 400; /* Regular Italic */
  font-style: italic;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-Medium.woff") format("woff");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-MediumItalic.woff")
    format("woff");
  font-weight: 500; /* Medium Italic */
  font-style: italic;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-DemiBold.woff")
    format("woff");
  font-weight: 600; /* DemiBold */
  font-style: normal;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-DemiBoldItalic.woff")
    format("woff");
  font-weight: 600; /* DemiBold Italic */
  font-style: italic;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-Bold.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-BoldItalic.woff")
    format("woff");
  font-weight: 700; /* Bold Italic */
  font-style: italic;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-ExtraBold.woff")
    format("woff");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-ExtraBoldItalic.woff")
    format("woff");
  font-weight: 800; /* ExtraBold Italic */
  font-style: italic;
}

@font-face {
  font-family: "TTTravels";
  src: url("../../public/fonts/TTTravels/TTTravels-ExtraLightItalic.woff")
    format("woff");
  font-weight: 200; /* ExtraLight Italic */
  font-style: italic;
}
