.lvl-card {
  background-color: var(--white-1);
  border-radius: 12px;
  width: 100%;
  max-width: 260px;
  display: flex;
  margin: 0 20px;
  flex-direction: column;
  overflow: hidden;
}

.lvl-card__header {
  font-family: "TTTravels", Arial, sans-serif;
  background-color: var(--green-1);
  text-align: center;
  padding: 0 20px 10px;
  height: 223px;
}

.lvl-card__level {
  padding: 18px 0;
  font-size: 22px;
  font-weight: 600;
  color: var(--black-1);
  margin: 0 0 8px;
  border-bottom: 1px solid var(--black-1);
}

.lvl-card__price {
  font-weight: 700;
  line-height: 1.23;
  margin-top: 33px;
  color: var(--black-1);
  font-size: 28px;
  height: 69px;
}

.lvl-card__credit {
  font-family: "TTTravels", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.55;
  margin-top: 5px;
  margin-bottom: 30px;
  color: var(--black-1);
  font-size: 16px;
}

.lvl-card__body {
  background-color: var(--white-1);
  color: var(--black-1);
  padding: 0 20px;
  line-height: 1.55;
  margin-top: 34px;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Manrope";

  text-align: center;
  height: 760px;
}

.lvl-card__subtitle {
  text-align: center;
  line-height: 1.55;
  font-family: "Manrope";
  box-sizing: content-box;
  font-weight: 700;
  color: var(--purple-1);
  font-size: 18px;
  margin-bottom: 32px;
}

.lvl-card__subtitle2 {
  text-align: center;
  color: var(--black-1);
  line-height: 1.55;
  font-size: 15px;
  font-family: "Manrope";
  font-weight: 700;
  margin-bottom: 32px;

  &-text {
    text-decoration: underline;
  }
}

.lvl-card__sticker {
  text-decoration: none !important;
}

.lvl-card__group {
  margin-bottom: 20px;
}

.lvl-card__group-title {
  font-weight: bold;
  font-size: 15px;
  color: var(--black-1);
  text-align: center;
}

.lvl-card__list {
  text-align: center;
  color: var(--black-1);
  line-height: 1.55;
  font-size: 14px;
  font-weight: 500;
  font-family: "Manrope";
  margin: 0;
  padding-left: 20px;
}

.lvl-card__list li {
  margin-bottom: 6px;
}

.lvl-card__cta {
  background-color: var(--green-1);
  color: var(--black-1);
  border: none;
  border-radius: 0 0 8px 8px; /* Скругляем нижние углы */
  padding: 16px;
  font-family: "TTTravels", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
